* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

/* ************************************ */
/* ************************************ */
.button a {
    background: #FCD980;
    color: black;
    padding: 16px 48px;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 500;
    border-radius: 40px;
    border: 1px solid white;
    transition: .4s;
}

.button a:hover {
    background: transparent;
    color: white;
}

/* ************************************ */
/* ************************************ */
h2 {
    font-family: "Poppins", sans-serif;
    font-size: 54px;
    font-weight: 600;
}

p {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 500;
    width: 560px;
}

h4 {
    font-family: "Poppins", sans-serif;
    font-size: 48px;
    font-weight: 600;
}

/* ********************************** */
.button1 a {
    color: #FFFFFF;
}

.button1 a i {
    padding-left: 0px;
    transition: .4s;
    opacity: 0;

}

.button1 a:hover i {
    padding-left: 30px;
    opacity: 1;

}

/* ************************************ 
nav
************************************ */
nav {
    background: #1C1E53;
    align-items: center;
    padding-top: 50px;

}

.navbar-brand {
    padding: 32px 0;
}

nav ul {
    align-items: center;
}

nav ul li a {
    color: #BBBBCB !important;
}

nav ul li a:hover {
    color: white !important;
}

nav .button a {
    margin-left: 50px;
}

/* ************************************
baner
************************************ */
.baner {
    background: #1C1E53;
    padding: 128px 0;
}

.baner p {
    color: #FFFFFF;
}

.baner h2 {
    color: white;
}

.button1 {
    display: flex;
}

.button1 {
    column-gap: 30px;
}

.baner p {
    padding-top: 24px;
    padding-bottom: 48px;
}

.baner .button1 .button a {
    color: black;
}

.baner .button1 .button a:hover {
    color: white;
}


/* ************************************
part2
************************************ */
.part2 {
    padding: 128px 0;
    background: #F4F6FC;
}

.part2 h2 {
    font-size: 48px;
}

.part2 .button1 a {
    color: #2405F2;
}

.part2 .werk p {
    width: 405px;
    padding: 16px 0;
    color: #3e4050;
}

.part2 .card1 img {
    width: 50px;
}

.part2 .card1 p {
    width: 300px;
    color: #3e4050;
}

.part2 .card1 h3 {
    padding-top: 16px;
    padding-bottom: 8px;
}

/* ************************************
part3
************************************ */
.part3 {
    padding-bottom: 128px;
}

.part3 .box {
    display: flex;
    align-items: center;
    padding-bottom: 64px;
    padding-top: 128px;
}

.part3 h2 {
    font-style: 48px;
}

.part3 .button1 a {
    color: black;

}

.part3 .project1 img {
    width: 100%;
    height: 100%;
}

.part3 .card img {
    width: 100%;
}

.project1 {
    position: relative;
    overflow: hidden;
}

.part3 .overly {
    width: 50%;
    height: 100%;
    background-image: linear-gradient(to bottom right, rgba(28, 30, 83, .42), rgb(28, 30, 83));
    position: absolute;
    top: 0;
    left: -50%;
    padding: 312px 51px;
    transition: .5s;

}

.project1:hover .overly {
    left: 0;
}

.part3 .overly h3 {
    font-family: "Poppins", sans-serif;
    font-style: 24px;
    font-weight: 600;
    color: white;
}

.part3 .overly p {
    font-family: "Poppins", sans-serif;
    font-style: 16px;
    font-weight: 500;
    width: 311px;
    color: #FFFFFF;
    padding-top: 16px;
}

.part3 .overly .button1 a {
    color: yellow;
    font-weight: 500;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
}

.part3 .card2 {
    margin-top: 30px;
}

.part3 .over {
    padding-top: 129px;
    padding-left: 56px;
}

.part3 .card1 {
    position: relative;
    overflow: hidden;
}

.part3 .card1 .over {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom right, rgba(28, 30, 83, .42), rgb(28, 30, 83));
    position: absolute;
    top: 0;
    left: -100%;
    transition: .5s;

}

.part3 .card1:hover .over {
    left: 0;
}

.part3 .over h3 {
    font-size: 24px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    color: white;
    width: 211px;
}

.part3 .over a {
    font-size: 16px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    color: #FCD980;
    width: 211px;
    margin-top: 0;
    padding-top: 0px;
}

/* ************************************
part4
************************************ */
.part4 {
    background: #F4F6FC;
    padding: 128px 0;

}

.part4 .Features p {
    width: 100%;
    text-align: center;

}

.part4 h4 {
    width: 630px;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 40px;

}

.part4 .card {
    padding: 58px 32px 48px 48px;
    margin-top: 24px;
    border: 1px solid transparent !important;
    width: 100% !important;
    box-shadow: 0px 0px 10px 5px rgba(99, 99, 99, .50);
    top: 0;
    transition: .5s;
}

.part4 .card:hover {
    top: -10px;
}

.part4 .card .card-body {
    padding: 0;

}

.part4 .card img {
    width: 32px;
}

.part4 .card h5 {
    font-size: 24px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    padding-top: 22px;
    padding-bottom: 12px;
}

.part4 .card p {
    width: 324px;
}

/* ************************************
part5
************************************ */
.part5 {
    padding: 128px 0;
    background: #F4F6FC;
}

.part5 .col-lg-4 h5 {
    font-size: 38px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    width: 325px;


}

.part5 .col-lg-4 p {
    font-size: 16px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    width: 327px;
    color: #5c5d6b;
    padding-top: 16px;


}

.part5 .col-lg-8 h5 {
    font-size: 32px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
}

.part5 .image {
    width: 52px;
    height: 52px;
    border-radius: 40px;
}

.part5 .box {
    display: flex;
    column-gap: 14px;
    padding-top: 48px;
}

.part5 .box h6 {
    font-size: 18px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
}

.part5 .box p {
    font-size: 12px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
}

/* ************************************
part6
************************************ */
.part6 {
    padding-top: 52px;
    padding-bottom: 128px;
}

.part6 h3 {
    font-size: 38px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    padding-bottom: 16px;
}

.part6 a {
    color: #2405F2;
    font-size: 18px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;

}

.part6 .accordion-button {
    font-size: 24px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
}

.part6 .accordion-button samp {
    font-size: 24px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    padding-right: 59px;
}

.part6 .accordion-body {
    font-size: 18px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    padding-left: 105px;
}

.accordion-button:not(.collapsed)::after {
    background-image: none !important;
    transform: rotate(0);
    content: "x";

}

.accordion-button::after {
    background-image: none !important;
    transform: rotate(0);
    content: "+";
}

/* ************************************
part7
************************************ */
.part7 .image {
    position: relative;
    overflow: hidden;
}

.part7 .image img {
    width: 100%;
    height: 100%;
}

.part7 .overly {
    width: 100%;
    height: 100%;
    background: rgba(43, 44, 95, 0.5);
    position: absolute;
    right: 100%;
    bottom: 100%;
    padding: 96px;
    transition: .5s;
}

.part7 .image:hover .overly {
    bottom: 0;
    right: 0;
}

.part7 .image h2 {

    color: white;
}

.part7 .image p {
    width: 460px;
    padding-top: 24px;
    color: #FFFFFF;
}

.part7 .col-lg-6 {
    padding-left: 0;
    padding-right: 0;
}

.part7 .form {
    background: #2405F2;
    padding: 96px 96px 48px 96px;

}

.part7 .form h5 {
    font-size: 32px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    color: white;

}

.part7 .form p {
    padding-top: 16px;
    padding-bottom: 40px;
    color: white;
    width: 430px;
}

.part7 input {
    width: 100%;
    background: transparent;
    color: white;
    border: 1px solid #cbcbcb;
    border-radius: 5px;
    padding: 18px 0 18px 32px;
    margin-bottom: 16px;

}

.part7 .button2 {
    background: #FCD980;
    width: 100%;
    padding: 16px 0;
    border-radius: 40px;
    text-align: center;
    border: 1px solid white;
    transition: .4s;
    margin-top: 39px;
}

.part7 .button2 a {
    color: black;
    font-size: 18px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;


}

.part7 .button2:hover {
    background: transparent;
}

.part7 .button2:hover a {
    color: white;
}

.part7 .button1 {
    padding-top: 28px;
    justify-content: center;
}

/* ************************************
part8
************************************ */
.part8 {
    padding: 128px 0;
}

.part8 .card {
    width: 405px;
    border: 1px solid transparent;

}

.part8 .card-body {
    padding: 0 !important;
}

.part8 .card P {
    width: 405px;
    font-size: 16px;
    padding-top: 40px;

}

.part8 .card h5 {
    width: 405px;
    font-size: 24px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;


}

.part8 .button1 a {
    color: black;
}

/* ************************************
part9
************************************ */
.part9 {
    background: #1C1E53;
    padding: 96px 0;
}

.part9 .p1 {
    color: #F4F6FC;
    padding-top: 22px;
    width: 399px;
}

.part9 h4 {
    color: white;
    line-height: 25px;
}

.part9 ul {
    display: flex;
    list-style: none;
    column-gap: 26px;

    padding-left: 0rem !important;

}

.part9 ul a {
    color: white;
    font-size: 20px;
}

.part9 .logo {
    position: relative;
}

.part9 .overly {
    width: 517px;
    height: 95px;
    background: #FCD980;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    top: 196%;
    left: 0;
}

.part9 .overly p {
    width: 100%;
}